/*Universal*/

html{
	height: 100%;
	width: 100%;
}

:root {
	--pri: #165e68;
	--sec: #2397a7;
	--tri: #21c1d6;
	--gray: #222c2b;
	--bggrade: linear-gradient(135deg, var(--pri), var(--tri));
}

@font-face {
	font-family: chakrapetch;
	src: url('../fonts/chakrapetch-medium.ttf');
}

* {
	font-family: chakrapetch;
	box-sizing: border-box;
}

body {
	margin: 0px;
	background: var(--bggrade);
}

#title {
	background-color: var(--gray);
	border-radius: 10px;
	padding: 10px;
	width: 70%;
	height: fit-content;
	margin: 8px auto 8px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2%;
}

#title h1,
#title2 {
	text-align: center;
	color: white;
}

#title img {
	height: 60px;
}

#display {
	width: 70%;
	background-color: var(--gray);
	border-radius: 10px;
	padding: 10px;
	color: var(--gray);
}

#webcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

hr {
	height: 10px;
	border-radius: 10px;
	background-color: var(--tri);
	width: 70%;
	padding: 0px 10px 0px 10px;
	border: none;
}

#btn {
	background-color: var(--sec);
	color: white;
	border-radius: 8px;
	transition: 250ms;
	padding: 10px;
	margin: 8px 0px 0px 0px;
	font-size: 20px;
	text-decoration: none;
}

#logoutbtn:hover {
	background-color: rgb(130, 8, 8);
}

#logoutbtn {
	background-color: crimson;
	color: white;
	border-radius: 8px;
	transition: 250ms;
	padding: 10px;
	margin: 8px 0px 0px 0px;
	font-size: 20px;
	text-decoration: none;
}

#btn:hover {
	background-color: var(--tri);
}

#plainlink {
	color: var(--sec);
	text-decoration: underline;
}

#plainlink:hover {
	color: var(--tri);
	text-decoration: underline;
}

/*Parking Page*/
legend {
	color: var(--tri);
}

fieldset {
	border: 2px solid var(--tri);
	border-radius: 8px;
	margin: 0px 10px 0px 10px;
}

fieldset#parkingform {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#nameinp {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

#nameinp input[type='text'],
#addinp input[type='text'] {
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
	color: var(--gray);
	font-weight: 600;
	width: 40%;
}

#addinp input[type='text'] {
	width: 55% !important;
}

#nameinp select,
#addinp select {
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
	color: var(--gray);
	font-weight: 600;
	width: 18%;
}

#addinp select {
	width: 35% !important;
}

#nameinp div {
	display: flex;
	flex-direction: row;
}

#nameinp label,
#addinp label {
	display: flex;
	align-items: center;
	color: white;
	font-size: 20px;
	margin-right: 10px;
}

input:focus {
	border: none;
	outline: none;
}

input {
	border: none;
	outline: none;
}

#addinp {
	display: grid;
	grid-template-columns: 3fr 2fr;
	width: 100%;
	align-items: center;
}

#addinp > div:nth-child(1) {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-right: 8px;
}

#slotdisplay {
	border-radius: 10px;
	border: 2px solid var(--sec);
	height: 60px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

#slotdisplay h2 {
	margin: 0;
}

#slotdisplay input[type='text'] {
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 600;
	color: var(--sec); 
	padding-left: 15px; 
	width: 30% !important;
}

p#info {
	color: white; 
	text-indent: 2rem; 
	font-size: 18px; 
	margin: 0px 10px 10px 10px; 
	line-height: 24px;
}


#k {
	color:lime
}